.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.space_bar{
    display: flex;
    border: solid, 2px, black;
    width: 200px;
    height: 20px

}

.submit_row {
    display: flex;
    border: solid, 2px, black;
    width: 500px;
    height: 30px;
    margin: 0px auto 20px;
}

.big_box{
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: solid, 2px, black;
    margin: 0px auto 20px;
}

.submit{
    display: flex;
    border: solid, 2px, black;
    width: 200px;
    height: 20px
    justify-content: center;
    align-items: center;
    margin: 0px auto 20px;
}

.submit:hover{
    background-color: goldenrod;
}

.space_bar:hover{
    background-color: goldenrod;
}

.cell{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: solid, 2px, black;
    
}

.cell:hover{
    background-color: goldenrod;
}